<!-- Challenge column start -->
<div class="card" id="challenges">
    <h2 class="content-title">
        CHALLENGES
    </h2>
    <p>
    </p>
    {{!-- {{#if challenges.length}} --}}
    {{!-- {{#each challenges as | challenge}} --}}
    {{#each target}}
    {{>challengeCard}}
    {{/each}}
    {{#each challenger}}
    {{>challengeCard}}
    {{/each}}
    {{#unless target}}
    {{#unless challenger}}
    <h4>Challenge Someone to a charm off!</h4>
    {{/unless}}
    {{/unless}}
</div>
</div>
{{!-- {{/each}} --}}
{{!-- {{else}} --}}
{{!-- <h3>You currently have no challengers!</h2> --}}
    {{!-- {{/if}} --}}
    </div>