<!-- Challenge column start -->
<div class="" id="challenges">
    <h2 class="content-title profile-titles" id="challenge-title">
        CHALLENGES
    </h2>
    <p>
        <button class="btn" id="start-challenge">Charm Someone!</button>
    </p>
    {{!-- {{#if challenges.length}} --}}
    {{!-- {{#each challenges as | challenge}} --}}
    {{#each target}}
    {{>challengeCard}}
    {{/each}}
    {{#each challenger}}
    {{>challengeCard}}
    {{/each}}
    {{#unless target}}
    {{#unless challenger}}
    <h4>Challenge Someone to a charm off!</h4>
    {{/unless}}
    {{/unless}}
</div>
{{!-- {{/each}} --}}
{{!-- {{else}} --}}
{{!-- <h3>You currently have no challengers!</h2> --}}
    {{!-- {{/if}} --}}
