{{!-- File for the challenge form creation server side --}}
{{#each users as |u|}}
  {{#with dataValues as | user |}}
    <button class="btn target-select" data-creature="{{ @root.creatureID }}" data-user="{{ id }}">
      <h3 class="card-title">
          {{ user_name }}
      </h3>
    </button>
  {{/with}}
{{/each}}