<div class="w-400 mw-full" id="challenge-list">
  <div class="card challengeCard">
    <div id="challenge-{{id}}">
      <h3 class="card-title">
        Challenge 1
      </h3>
      <h6>Challenger:</h6>
      <div class="">
        <p class="m-0">Challenger's Creature Name</p>
      </div>
       <div class="">
        <p class="m-0">Creature Level</p>
      </div>

      
      {{!-- Needs the challenger's creature name and level and user name, Target's user name and creature name level
      --}}
      <div class="text-center">
        
        <a href="#" class="btn"></a>
      </div>
    </div>
  </div>
</div>