<div class="challenge-row row">
  <div class="w-400 mw-full col-3" id="challenge-list">
    <div class="challengeCard">
      <div id="challenge-{{id}}">
        <h3 class="challenge-title">Incoming Challenger!</h3>
        <div class="challenge-content">
          <div class="">
            <p class="m-0">Challenger's Name:</p>
          </div>
          <div class="">
            <p class="m-0">Creature Name:</p>
          </div>
          <div class="">
            <p class="m-0">Creature Level:</p>
          </div>
        </div>


        {{!-- Needs the challenger's creature name and level and user name, Target's user name and creature name level
        --}}
        <div class="text-center">

          <a href="#" class="btn">Let's Go!</a>
        </div>
      </div>
    </div>
  </div>
</div>