<!-- HANDLEBAR Challenge modal handlebar -->
<a class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
    <div class="modal modal ie-scroll-fix" id="challenge-modal" tabindex="1" role="dialog"
        data-overlay-dismissal-disabled="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="Modal-title">Charm Someone!</h5>
                {{!-- <img src="" class="img-fluid" alt="modal-img"> --}}
                <h5 class="modal-title">Select your target</h5>
                <div id="target-select-container" class=" d-flex justify-content-center align-items-center gap-1 flex-wrap"></div>
            </div>
        </div>
    </div>
</a>
<a class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
    <div class="modal modal ie-scroll-fix" id="defend-modal" tabindex="1" role="dialog"
        data-overlay-dismissal-disabled="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="Modal-title">Charm Someone!</h5>
                {{!-- <img src="" class="img-fluid" alt="modal-img"> --}}
                <h5 class="modal-title">Select your target</h5>
                <div id="defend-select-container" class=" d-flex justify-content-center align-items-center gap-1 flex-wrap"></div>
            </div>
        </div>
    </div>
</a>