<!-- Challenge column start -->
<div class="" id="challenges">
    <h2 class="content-title profile-titles" id="challenge-title" style="font-family:'Press Start 2P',cursive">
        CHALLENGES
    </h2>
    {{!-- {{#if challenges.length}} --}}
    {{!-- {{#each challenges as | challenge}} --}}
    <div class="challenge-row row"  id="challenge-list">
    {{#each target}}
    {{#with dataValues}}
    {{>challengeCard}}
    {{/with}}
    {{/each}}
    {{#each challenger as | origChal |}}
    {{#with dataValues as | challenge |}}
    {{>challengeCard}}
    {{/with}}
    {{/each}}
    </div>
    {{#unless target}}
    {{#unless challenger}}
       <p>
        <button class="btn" id="start-challenge">Challenge Someone to a Charm Off!</button>
        </p>
    {{/unless}}
    {{/unless}}
</div>
{{!-- {{/each}} --}}
{{!-- {{else}} --}}
{{!-- <h3>You currently have no challengers!</h2> --}}
    {{!-- {{/if}} --}}
