<!-- Challenge column start -->
<div class="" id="challenges">
    <h2 class="content-title profile-titles" id="challenge-title" style="font-family:'Press Start 2P',cursive">
        CHALLENGES
    </h2>
    {{!-- {{#if challenges.length}} --}}
    {{!-- {{#each challenges as | challenge}} --}}
    <div class="challenge-row row"  id="challenge-list">
    {{#each target}}
    {{#with dataValues as |def|}}
    {{>challengeCard this}}
    {{/with}}
    {{/each}}
    {{#each challenger as |challenge|}}
    {{#with dataValues as |atk|}}
    {{>challengeCard this}}
    {{/with}}
    {{/each}}
    </div>
</div>
{{!-- {{/each}} --}}
{{!-- {{else}} --}}
{{!-- <h3>You currently have no challengers!</h2> --}}
    {{!-- {{/if}} --}}
