<!-- Challenge column start -->
<div class="card" id="challenges">
    <h2 class="content-title">
        CHALLENGES
    </h2>
    <p>
    </p>
    {{!-- {{#if challenges.length}} --}}
    {{!-- {{#each challenges as | challenge}} --}}
    <div class="w-400 mw-full" id="challenge-list">
        <div class="card">
            <h3 class="card-title">
                Challenge 1
            </h3>
            <div class="text-center">
                <a href="#" class="btn">Kick their ass!</a>
            </div>
        </div>
    </div>
    {{!-- {{/each}} --}}
    {{!-- {{else}} --}}
    {{!-- <h3>You currently have no challengers!</h2> --}}
        {{!-- {{/if}} --}}
</div>