<div class="w-400 mw-full col-3">
  <div class="challengeCard">
    <div id="challenge-{{id}}">
      <h3 class="challenge-title">Incoming Challenger!</h3>
      <div class="challenge-content">
        {{!-- 
          id: 18,
          challenger_id: 39,
          target_id: 5,
          challenge_object: 55,
          target_object: null,
          winner: null
         --}}
        <div class="">
          <p class="m-0">Challenger's Name: {{challenger_id}}</p>
        </div>
        <div class="">
          <p class="m-0">Creature Name: {{challenge_object}}</p>
        </div>
        <div class="">
          <p class="m-0">Creature Level: </p>
        </div>
      </div>
      <div class="text-center">

        <a href="#" class="btn">Prove your Charm!</a>
      </div>
    </div>
  </div>
</div>