<!-- Creature Column-->
<div class="card">
    <h2 class="content-title">
        CREATURE INDEX
    </h2>
    <p>
    </p>
    {{!-- {{#if creatures.length}} --}}
    {{!-- {{#each creatures as | creature}} --}}
    <div class="w-400 mw-full">
        <div class="card">
            <h3 class="card-title">
                Rock
            </h3>
            <img src="..." alt="">
            <h2></h2>
            <div class="text-center">
                <a href="#" class="btn">Kick their ass!</a>
            </div>
        </div>
    </div>
    {{!-- {{/each}} --}}
    {{!-- {{else}} --}}
    {{!-- <h3>You currently have no challengers!</h2> --}}
        {{!-- {{/if}} --}}
        <div class="w-400 mw-full">
            <div class="card">
                <h3 class="card-title">
                    Paper
                </h3>
                <img src="..." alt="">
                <h2></h2>
                <div class="text-center">
                    <a href="#" class="btn">Kick their ass!</a>
                </div>
            </div>
        </div>
        <div class="w-400 mw-full">
            <div class="card">
                <h3 class="card-title">
                    Scissor
                </h3>
                <img src="..." alt="">
                <h2></h2>
                <div class="text-center">
                    <a href="#" class="btn">Kick their ass!</a>
                </div>
            </div>
        </div>
</div> <!-- creature column end-->