{{#each types as | type |}}
  <button class="btn multiclass-select" data-creature="{{ @root.creatureID }}" data-add="{{ type }}">
    <h3 class="card-title">
        {{ type }}
    </h3>
  </button>
{{/each}}