<!-- Creature Column-->
<h2 class="content-title profile-titles" style="font-family:'Press Start 2P',cursive">
    CREATURE INDEX
</h2>
<div id="creature-row" class="creature-row row">
    {{#if creature.length}}
    {{#each creature}}
    {{>creatureCard}}
    {{/each}}
    {{/if}}
</div>