<!-- HANDLEBAR Sign up modal handlebar -->
<a class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
    <div class="modal modal ie-scroll-fix" id="modal-1" tabindex="1" role="dialog"
        data-overlay-dismissal-disabled="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="modal-title">Sign In</h5>
                <img src="" class="img-fluid" alt="modal-img">
                <h5 class="modal-title">Sign in to your account</h5>
                <form id="login-form">
                    <div class="form-group">
                        <label for="username" class="required">Username</label>
                        <input type="text" id="username-login" class="form-control" placeholder="Username"
                            required="required">
                    </div>
                    <div class="form-group">
                        <label for="password" class="required">Password</label>
                        <input type="password" id="pw-login" class="form-control" placeholder="Password"
                            required="required">
                    </div>
                    <input class="modal-btn btn-block" type="submit" value="Sign in">
                </form>
            </div>
        </div>
    </div>
</a>
<a class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
    data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
    <div class="modal modal ie-scroll-fix" id="modal-2" tabindex="1" role="dialog"
        data-overlay-dismissal-disabled="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h5 class="modal-title">Sign up</h5>
                {{!-- <img src="..." class="img-fluid" alt="modal-img"> --}}
                <h5 class="modal-title">Sign up for your account</h5>
                <form id="signup-form">
                    <div class="form-group">
                        <label for="username" class="required">Username</label>
                        <input type="text" id="username-signup" class="form-control" placeholder="Username"
                            required="required">
                    </div>
                    <div class="form-group">
                        <label for="email" class="required">Email</label>
                        <input type="text" id="email-signup" class="form-control" placeholder="Email"
                            required="required">
                    </div>
                    <div class="form-group">
                        <label for="password" class="required">Password</label>
                        <input type="password" id="pw-signup" class="form-control" placeholder="Password"
                            required="required">
                    </div>
                    <input class="modal-btn btn-block" type="submit" value="Sign up">
                </form>
                <div class="text-right mt-10">
                    <a href="#modal-2" class="hyperlink">close</a>
                </div>
            </div>
        </div>
    </div>
</a>


<!-- End modal Handlebar -->