<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
    {{{ body }}}
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
  <script src="./js/login.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    console.log('socket activated');
    socket.on('testEvent',(data)=> console.log('emit received',data));
    socket.on('connect_error',(err)=>console.log(err));
  </script>
</body>
</html>