<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="#">
  <title>RP-Lite</title>

  <!-- Halfmoon CSS -->
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="./style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>

<body>
  {{> signup-modals}}
  <!-- Page wrapper start -->
  <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="full-height"
    style="background-image: linear-gradient(var(--primary-color-light),var(--primary-color-dark))">

    <!-- Navbar start -->
    <nav class="navbar justify-content-between">
      <div class="navbar-content">
        <button class="btn" type="button" onclick="halfmoon.toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <a href="./" class="navbar-brand" style="color: var(--primary-color-white)">
        <img src="..." alt="...">
        Rock-Dog, Paper-Squirrel, Scissor-Cat
      </a>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      {{!-- <a href="/profile">profile</a> | --}}
      <button class="logout-btn" id="" type="button">Logout</button>
      {{else}}
      <ul class="navbar-nav d-none d-flex">
        <li class="nav-item active">
          <a href="#modal-1" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="#modal-2" class="nav-link">Sign Up</a>
        </li>
      </ul>
      {{/if}}
    </nav>
    <!-- Navbar end -->

    <!-- Sidebar start -->
    <div class="sidebar" style="background-color: var(--primary-color-blue)">
      <div class="sidebar-menu">
        <h5 class="sidebar-title">RP-Lite</h5>
        <div class="sidebar-divider"></div>
        <button class="btn btn-block home-btn" type="button">
        <a href="./" id="linkcolor" style="color: black">
          Home
        </a>
        </button> 
        {{#if logged_in}}
        <button class="btn btn-block profile-btn" type="button">
        <a href="./profile" style="color: black">
          Profile
        </a>
        </button>
        {{/if}}
        {{!-- <a href="./creatures.html" class="sidebar-link sidebar-link-with-icon">
          <span class="sidebar-icon text-white rounded-circle" style="background-color: var(--primary-color-yellow)">
            <i class="" aria-hidden="true"></i>
          </span>
          Creature Index
        </a> --}}
        <br />
        <h5 class="sidebar-title">Account</h5>
        <div class="sidebar-divider"></div>
        <!-- Conditional logged in / logged out -->
        {{#if logged_in}}
        <button class="btn btn-block logout-btn" type="button">
          Logout
        </button>
        {{else}}
        <button class="btn btn-block signin-btn"type="button">
          <a href="#modal-1" style="color: black">
          Sign In
          </a>
        </button>
        <button class="btn btn-block signup-btn"type="button">
          <a href="#modal-2" style="color: black">
          Sign Up
          </a>
        </button> 
        {{/if}}
      </div>
    </div>
    <!-- Sidebar end -->
    <!-- Content wrapper start -->
    {{{ body }}}
    <!-- Content wrapper end -->
  </div>
  <!-- Page wrapper end -->
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
  <script src="./js/login.js"></script>
  <script src="./js/logout.js"></script>
  <script src="./js/profile.js"></script>
</body>

</html>