<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="card">
        <h1 class="content-title">
            Greetings, traveler! Welcome to Rock-Dog, Paper-Squirrel, Scissor-Cat.
        </h1>
        <div>
        <p class="text-break w-500">
            The game is very self-explanatory, but also kinda not... 
        
            It's a rogue-lite (we wish) version of rock-paper-scissors featuring your pets!
        
            Rock (Dog) > Scissor (Cat) > Paper (Squirrel) > Rock (Dog) and so forth.
        </p>
        </div>
    </div>
</div>
<!-- Content wrapper end -->
</div>
<!-- Page wrapper end -->