<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="card">
        <h2 class="content-title">
            This is a game that we made. Check it out
        </h2>
        <p>
            insert an interesting bit of story, fleshing out the project and enticing people to want to play said game
        </p>
    </div>
</div>
<!-- Content wrapper end -->
</div>
<!-- Page wrapper end -->