<!-- Content wrapper start -->


{{!-- {{#with user.dataValues}} --}}
<div class="content-wrapper">
    <div>
        <h2>Welcome, {{user.dataValues.user_name}}!</h2>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                {{!-- {{#with userobjects}} --}}
                {{>creatureProfile}}</div>
            {{!-- {{/with}} --}}
            <div class="col-6">
                {{>challengeProfile}}</div>
        </div> <!-- row end -->
    </div>
</div> <!-- Content wrapper above this line -->
{{!-- {{/with}} --}}


<script src="/socket.io/socket.io.js"></script>
<script src="./js/socketSetup.js"></script>
<script src="./js/challengeSync.js"></script>