<body>
    {{!-- <button class="btn" id="logout-btn" type="button">Logout</button> --}}
    <main>
        <h2>Welcome, {{user_name}}!</h2>
    </main>
</body>
<script src="/socket.io/socket.io.js"></script>
{{!--
<script src="path/to/halfmoon.js"></script> --}}

<script>
    var socket = io();
    console.log('socket activated');
    console.log(socket);
    socket.on('testEvent', (data) => console.log('emit received', data));
    socket.on('connect_error', (err) => console.log(err));
</script>