:root {
    --primary-color: #0077b6;
    --primary-color-light: #00b4d8;
    --primary-color-white: #F0F3F9;
    --primary-color-dark: #03045e;
    --primary-color-red: #ff5400;
    --primary-color-blue: #023E8A;
    --primary-color-yellow: #FFC05C;
    --primary-color-signin:#ff8500;
    --primary-color-signup:#ff9100;
    
}

.body {
    background-color: var(--primary-color-blue);
    
}

.battery {
    margin-top: 20px;
    height: 3rem;
    /* Before: 0.5rem (5px) */
    border-radius: 0.2rem;
    /* Before: 3.2rem (32px) */
}

.modal {
    background-image: linear-gradient( var(--primary-color-white),var(--primary-color-light));
}

.navbar {
    background-color: var(--primary-color-dark);
    color: var(--primary-color-white);
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
}

.sidebar {
    background-color: var(--primary-color-blue);
    font-family: 'Odibee Sans', cursive;
    font-size: large;
}

.card {
    background-color: var(--primary-color-yellow);
    font-family: 'Odibee Sans', cursive;
}

.creatureCard {
    /* border-style: outset; */
    border-color: rgb(77, 64, 64);
    border-width: 6px;
    background: linear-gradient(#e6dcad, rgb(136, 126, 88));
    padding: 5px;
}

.challengeCard {
    border-color: rgb(51, 40, 40);
    border-width: 6px;
    background: linear-gradient(#e6dcad, #cdbf86);
    padding: 5px;
}

.cardHeaders {
    border-style: inset;
  border-color: #eae2a6;
  border-width: 3px;
  background: linear-gradient(#e6dcad, #B76E79);
  line-height: 0;
}

.creature-img {
    background-color: var(--primary-color-white);
    transition: 0.3s;
    text-align: center;   
}

.logout-btn:hover {
    background-color: var(--primary-color-dark);
    color: white;
}

.signin-btn {
    background-color: var(--primary-color-white);
    transition: 0.3s;
    text-align: center;    
}


.signin-btn:hover {
    background-color: var(--primary-color-dark);
    color: white;
}


.signup-btn {
    background-color: var(--primary-color-white);
    transition: 0.3s;
    text-align: center;    
}

.signup-btn:hover {
    background-color: var(--primary-color-dark);
    color: white;
}

.home-btn {
    background-color: var(--primary-color-white);
    transition: 0.3s;
    text-align: center;    
}

.home-btn:hover {
    background-color: var(--primary-color-dark);
    color: white;
}


.profile-btn {
    background-color: var(--primary-color-white);
    transition: 0.3s;
    text-align: center;    
}

.profile-btn:hover {
    background-color: var(--primary-color-dark);
    color: white;
}

.lvlText {
    font-size: small;
}

.creature-img {
    max-width: fit-content;
    height: auto;
}

.sidebar-title {
    font-size:larger;
    color: var(--primary-color-white);
}